button{
    height: 100px;
    width:100px;
}

#calculator{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
    text-align: center;
}

#display{
    
    height:100px;
    width: 400px;
    border: 2px solid gray;
}

#problemDisplay{
    margin-top: 10px;
    font-size: 20px;
}

#solutionDisplay{
    margin-top: 15px;
    font-size: 30px;
}